
    <!-- Feature Grid Section -->
    <section id="feature_section">

        <div class="container">

            <h3 class="headline" style="width:70%" > RackHD features </h3>
            <hr></hr>

            <!-- Features Row #1 -->
            <div class="row">
                <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Search-50.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title">  Discovery and cataloging    </h4>
                    <h6 class="grid_content"><p> Discovers the compute, network, and storage resources and catalogs their attributes and capabilities.  </p><h6>
                </div>

                <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img   src="img/features/icons8.com-Genealogy-50.png" width="50"  height="50"  alt=""></p>
                    </div>
                    <h4 class="grid_title"> Telemetry and genealogy </h4>
                    <h6 class="grid_content"><p>Obtain telemetry data that includes genealogical details.  </p></h6>
                </div>

                <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Download-from-the-Cloud-50.png" width="50" height="50"  alt=""></p>
                    </div>
                    <h4 class="grid_title"> Provisioning </h4>
                    <h6 class="grid_content"><p> Provisions a node to support the application workflow.  </p></h6>
                </div>

                 <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img src="img/features/icons8.com-Settings-50.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title">    Configuration     </h4>
                    <h6 class="grid_content"><p>Configures the hardware for application requirements, from the BIOS configuration on the compute device  to the port configuration for a network switch.</p></h6>
                </div>
           </div>


            <!-- Features Row #2 -->
            <div class="row">
                <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Multiple Devices-50.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title"> Device management  </h4>
                    <h6 class="grid_content"><p>Powers devices on and off, and manage the firmware, power, OS installation, and base configuration of the resources. </p><h6>
                </div>
                <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Motherboard-50.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title"> Firmware management  </h4>
                    <h6 class="grid_content"><p>Manages all infrastructure firmware versioning, including configuration and firmware update. </p><h6>
                </div>
                <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Document-100.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title">  Logging </h4>
                    <h6 class="grid_content"><p>Retrieve log information for a particular element or for multiple elements collated into a single timeline.</p><h6>
                </div>
                <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Temperature-100.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title">  Environmental monitoring  </h4>
                    <h6 class="grid_content"><p>Aggregates environmental data from hardware resources.  </p><h6>
                </div>
            </div>

            <!-- Features Row #2 -->
            <div class="row">
               <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Statistics-100.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title"> Data analytics </h4>
                    <h6 class="grid_content"><p> (Vision) Provide the data that is generated by environmental and fault monitoring can be provided to analytic tools for analysis, particularly around predictive failure </p><h6>
                </div>
                <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Error-100.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title"> Fault detection</h4>
                    <h6 class="grid_content"><p> (Vision) Monitors compute and storage devices for both hard faults and soft faults, and perform suitable responses based on pre-defined policies.</p><h6>
                </div>
                 <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Like It-100.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title"> You define RackHD </h4>
                    <h6 class="grid_content"><p> Contribute your ideas for new and revised features, refer to <a href="https://rackhd.atlassian.net/wiki/pages/viewpage.action?pageId=20024337#GettingStartedwithRackHD™-Support:Packagereleases,CreateRackHDBugs,andFeatureRequests">link</a> for more.. </p><h6>
                </div>
                <div class="col-sm-3 feature_grid">
                    <div align="center">
                    </div>
                    <h4 class="grid_title">   </h4>
                    <h6 class="grid_content"><p>  </p><h6>
                </div>

            </div>
      </div>


    </section>
