
    <!-- Grid Section -->
    <section id="guides_section">
        <div class="container">
            <h3 class="headline" style=" width: 70% " > RackHD documentation </h3>
            <hr>
            </hr>

            <!-- Guide Row -->
            <div class="row" style="display:flex">
                <div class="col-lg-3">
                    <img class="img-responsive"  src="img/icons8.com-User.png" alt="">
                </div>
                <div class="col-lg-3" style="margin-top: -15px">
                    <a href="https://rackhd.readthedocs.io">
                        <h4 style="margin:0px 20px;">RackHD User Guide<br><br></h4>
                    </a>
                    <div class="list-group" style=" margin:0 auto;">
                        <a href="http://rackhd.readthedocs.io/en/latest/rackhd_overview.html" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">Overview</h5>
                        </a>
                        <a href=" http://rackhd.readthedocs.io/en/latest/quick_guide.html" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">Tutorials</h5>
                        </a>
                        <a href="https://rackhd.atlassian.net/wiki/display/RAC1/RackHD+Release+Installation+Guide" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">Installation</h5>
                        </a>
                        <a href="http://rackhd.readthedocs.io/latest/2.0/rackhd_vlab/index.html" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">RackHD Hands-on vLab</h5>
                        </a>
                        <a href="https://rackhd.atlassian.net/wiki/spaces/RAC1/pages/20024337/Getting+Started+with+RackHD#GettingStartedwithRackHD-Support:Installation,CreateBugs,andFeatureRequests" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">Request Demands</h5>
                        </a>
                        <a href="https://rackhd.atlassian.net//secure/CreateIssueDetails!init.jspa?pid=10001&issuetype=10003" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">Report Bug/Vulnerability</h5>
                        </a>
                        <a href="https://rackhd.atlassian.net/wiki/display/RAC1/RackHD+Release+Page" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">Releases</h5>
                        </a>
                        <a href="http://rackhd.readthedocs.io/en/latest/support_matrix.html" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">RackHD Support Matrix</h5>
                        </a>						
                    </div>
                </div>

                <div class="col-lg-3">
                    <img class="img-responsive"  src="img/icons8.com-Dev.png" alt="">
                </div>
                <div class="col-lg-3" style="margin-top: -15px">
                    <a href="http://rackhd.readthedocs.io/en/latest/devguide/index.html">
                        <h4 style="margin:0px 20px;">RackHD Development Guide<br><br></h4>
                    </a>
                    <div class="list-group" style=" margin:0 auto;">
                        <a href="http://rackhd.readthedocs.io/en/latest/dev_guide/repositories.html" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">Repositories Overview</h5>
                        </a>
                        <a href="http://rackhd.readthedocs.io/en/latest/contributing.html" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">How To Contribute</h5>
                        </a>
                        <a href="http://rackhd.readthedocs.io/en/latest/dev_guide/debugging_guide.html" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">How To Debug</h5>
                        </a>
                        <a href="https://rackhd.atlassian.net/wiki/pages/viewpage.action?pageId=20024337#GettingStartedwithRackHD-Licensing" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">License</h5>
                        </a>
                        <a href="http://rackhd.readthedocs.io/en/latest/run_rackhd/security.html" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">Product Security Guide</h5>
                        </a>
                        <!--
                        <a href="http://147.178.202.18/" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">Jenkins</h5>
                        </a>-->
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
    </section>
