    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <img class="img-responsive" src="img/poster_header2.png" alt="">
                    <div class="intro-text">
                        <!--<span class="name">{{ site.title }}</span> -->
                        <!--<hr class="star-light">-->
                        <span class="roll skills">{{ site.skills }}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-lg-offset-1 text-center">
                 <div class="btn-toolbar">
                    <a href="https://rackhd.atlassian.net/wiki/display/RAC1/RackHD+Release+Page" class="btn btn-sm btn-outline">
                         <i class="fa fa-download"></i>Get RackHD
                    </a>
                    <a href="https://github.com/RackHD" class="btn btn-sm btn-outline">
                         <i class="fa fa-github"></i> GitHub <span class="badge">Apache 2.0</span>
                    </a>
                    <a href="http://rackhd.readthedocs.io/en/latest/quick_guide.html" class="btn btn-sm btn-outline">
                         <i class="fa fa-try"></i> Tutorial
                    </a>
            </div>
            <div class="col-lg-10 col-lg-offset-1 style">
                    <a href="https://rackhd.slack.com" class="btn btn-sm btn-outline">
                         <i class="fa fa-slack"></i> Slack
                    </a>
                    <a href="https://rackhd.atlassian.net/wiki/spaces/kbr/overview" class="btn btn-sm btn-outline">
                         <i class="fa fa-book"></i> knowledge base
                    </a>
                    <a href="https://rackhd.atlassian.net//secure/CreateIssueDetails!init.jspa?pid=10001&issuetype=10003" class="btn btn-sm btn-outline">
                         <i class="fa fa-bug"></i> Feedback
                    </a>
                 </div>
             </div>
        </div>
    </header>
