
<!-- Portfolio Grid Section -->
<section id="usercase_section">
    <!--                      User Cases                           -->
    <div class="container">
        <!-- User Story -->
        <div class="row">
            <div class="thumbnail right-caption"style=" background-color: RGBA(64,64,64,1);">
                <div class="col-lg-6">
                    <p style="text-align:center"><img src="img/userCaseofRackHD-qnu-ur0o5x8-jeremy-beadle.png"></p>
                </div>
                <div class="col-lg-6">
                    <h3 class="headline_with_line" style="margin: 20px; color:RGB(0,176,240);"> RackHD use cases </h3>
                    <h4 class="grid_content" style="font-size:16px; margin: 20px; color:white;text-align: center" >
                        RackHD can effectively deliver hardware management and orchestration at every lifecycle stage.
                    </h4>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 21px">
            <table class="col-lg-4" >
                <tr style="height: 180px">
                    <th class="col-lg-1" style="background: lightblue;height: inherit">
                        <h3 style="color: whitesmoke;"><b>
                        D
                        A
                        Y
                        0</b></h3>
                    </th>
                    <th class="col-lg-11 " style="padding-left: 0px;padding-right: 30px;height: inherit;width:100%">
                        <div class="thumbnail right-caption" style="margin: 0px;height: inherit">
                            <div class="arrow_box grad">
                                <div class="row">
                                    <img src="img/features/icons8.com-Settings-50.png" style="float:left;margin:10px;height: 50px;width: 50px">
                                    <h3 id="day0" class="bind_hover_card" data-content="<h6 class='grid_content'> The process of taking an OTS server from bare metal to infrastructure ready, inclusive of updating firmware, hardware configuration, and OS deployments. Typically this step is done in the factory due to the manual steps required to make it infrastructure ready. However, it can easily be done in the field using RackHD workflows.</h6>" >Bare metal provisioning</h3>	
                                </div>
                                <h5 class="grid_content">
                                    <li>- Discover and catalog servers and switches.</li>
                                    <li>- Update firmware (BIOS, BMC, NIC, RAID, etc.)</li>
                                    <li>- Configure BIOS and BMC settings.</li>
                                    <li>- Configure RAID</li>
                                    <li>- Install OS images, hypervisors, applications, etc.</li>
                                </h5>
                            </div>
                        </div>
                    </th>
                    </tr>
            </table>

            <table class="col-lg-4">
                <tr style="height: 180px">
                    <th class="col-lg-1" style="background: lightblue;height: inherit;">
                        <h3 style="color: whitesmoke;"><b>
                        D
                        A
                        Y
                        1</b></h3>
                    </th>
                    <th class="col-lg-11" style="padding-left: 0px;padding-right: 30px;height: inherit;width:100%">
                        <div class="thumbnail right-caption" style="margin: 0px;height: inherit">
                            <div class="arrow_box">
                                <div class="row">
                                    <img src="https://maxcdn.icons8.com/office/PNG/40/Network/server-40.png" style="float:left;margin:10px;height: 50px;width: 50px">
                                    <h3 id="day1" class="bind_hover_card" data-content="<h6 class='grid_content'> The process of taking provisioned nodes (output of Day 0) and clustering them with other nodes (servers and switches). This involves racking the gear, cabling the servers to switches and configuring L2 networking. For a turn-key solution, this step is traditionally done in the factory. However, it can easily be done in the field using RackHD workflows.</h6>" >Rack and stack</h3>
                                </div>
                                <h5 class="grid_content">
                                    <li>- Discover and build logical topology of servers and switch ports.</li>
                                    <li>- Customer specific BIOS, BMC, RAID configuration settings.</li>
                                    <li>- Update firmware, OS images, hypervisors to meet customer configuration.</li>
                                </h5>
                            </div>
                        </div>
                    </th>
                </tr>
            </table>

            <table class="col-lg-4">
                <tr style="height: 180px">
                    <th class="col-lg-1" style="background: lightblue;height: inherit">
                        <h3 style="color: whitesmoke;"><b>
                        D
                        A
                        Y
                        2</b></h3>
                    </th>
                    <th class="col-lg-11" style="padding-left: 0px;padding-right: 0px;height: inherit;width:100%">
                        <div class="thumbnail right-caption" style="margin: 0px;height: inherit">
                                <div class="row">
                                    <img src="img/features/icons8.com-Motherboard-50.png" style="float:left;margin:10px;height: 50px;width: 50px">
                                    <h3 id="day2" class="bind_hover_card" data-content="<h6 class='grid_content'> Lifecycle management refers to the activities that take place after Day 1. These activities can include FRU replacement, system expansion (adding new nodes), or updating firmware, reconfiguring hardware settings, and upgrading operating systems. This is typically done in the field today through vendor specific tooling or homegrown software. RackHD can provide a consistent approach across heterogeneous hardware.</h6>" >Lifecycle management</h3>
                                </div>
                                <h5 class="grid_content">
                                    <li>- System Expansion.</li>
                                    <li>- FRU replacements.</li>
                                    <li>- Update firmware, OS images, and hypervisors to meet customer configuration.</li>
                                    <li>- Basic server and switch health monitoring.</li>
                                </h5>
                        </div>
                    </th>
                </tr>
            </table>
        </div>
    </div> <!-- End of div class="container"-->

    <div class="container">
        <!-- User Story -->
        <div class="row">
            <div class="thumbnail right-caption"style=" background-color: RGBA(64,64,64,1);">
                <div class="col-lg-6">
                    <h3 class="headline_with_line" style="margin: 20px; color:RGB(0,176,240);"> User testimonials </h3>
                    <h4 class="grid_content" style="font-size:16px; margin: 20px; color:white;text-align: center" >
                        Hear success stories straight from community
                    </h4>
                </div>
                <div class="col-lg-6">
                    <p style="text-align:center"><img src="img/worldrunsRackhd-fhhgpo3amsu-matteo-paganelli.png"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="thumbnail right-caption">
                <img src="img/users/virtustream_logo.png" style="float:left;margin:10px;width: 100px;">
                <div>
                    <h4 style="margin-top: 20px;margin-right: 50px;margin-left: 130px">"RackHD's workflow engine provides a unique advantage not seen in other solutions. Workflows allow us to string together tasks like hardware testing,
                        bios configuration, firmware upgrades, and post install OS customization." </h4>
                    <h5 style="float: right; margin-right: 50px">- John Hogenmiller (@ytjohn), <h style="color: #cf122e">Virtustream</h>
                </h5>
                </div>
            </div>

            <div class="thumbnail right-caption">
                <img src="img/users/DaoCloud_900900_1.png" style="float:left;margin:10px;width: 100px;">
                <div>
                    <h4 style="margin-top: 20px;margin-right: 50px;margin-left: 130px">"When we tried to enable customer's datacenter towards the Cloud Native phase, most of them mentioned about how to do bare-metal management and orchestration in that particular scenario. We see a great fit of Docker + RackHD into this request, and this combination brings more value beyond that. The beautiful part of this solution is to decouple the hardware platform with the management capability, which gives more possibilities from our perspective." </h4>
                    <h5 style="float: right; margin-right: 50px">- Roby Chen, <h style="color: #26283d">DaoCloud</h>
                </h5>
                </div>
            </div>

            <div class="thumbnail right-caption">
                <img src="img/users/TimGelter.png" style="float:left;margin:10px;width: 100px;">
                <div>
                    <h4 style="margin-top: 20px;margin-right: 50px;margin-left: 130px">"RackHD is fast becoming a critical component of our multi-cloud strategy, allowing us to effortlessly discover & API-manage bare-metal resources in our data centers. This has allowed us to extend our microservice platform "universal installer" to include the data center as a first-class citizen – a critical move for controlling costs and increasing performance for certain workloads." </h4>
                    <h5 style="float: right; margin-right: 50px">- Timothy Gelter, Lead Cloud Engineer, <h style="color: #ff0000">Adobe</h>
                </h5>
                </div>
            </div>
        </div>


    </div> <!-- End of div class="container"-->



</section>
